@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

table {
    th {
        font-size: 14px;
    }
    td {
        font-size: 14px;
    }
}
.vue-toast {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 300px;
    border-radius: 5px;
    color: #fff;
    min-height: 62px;
    padding: 10px 15px;
    h4 {
        margin-top: 0;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 16px;
    }
    p {
        font-size: 13px;
    }
    &.success {
        background: rgba(39, 174, 96, 0.7);
    }
    &.error {
        background: rgba(231, 76, 60, 0.7)
    }
}